import React from 'react';

import use{{pascalCase name}}Styles from './styles';

const {{pascalCase name}} = () => {
  const classes = use{{pascalCase name}}Styles();
  return <div className={classes.root}>{{pascalCase name}}</div>;
};

{{pascalCase name}}.propTypes = {};

export default {{pascalCase name}};
